#paragraph-formatter{
    display: block;
    width: 80%;
    background-color: white;
    margin: 40px;
    padding:30px;
    border-radius: 4px;
}

p{
    font-size: 20px;
    letter-spacing: 0.01cm;
}

body{
    background-color: rgb(233, 233, 236);
}

h1{
    color: rgb(78, 78, 82);
    margin-left: 40px;
}

h2{
    color: rgb(78, 78, 82);
   
}

img{
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    margin-right: 10px;
  }

.card-container{
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}

.text-format{
    padding: 20px;
    padding-top: 60px;
    margin: 30px;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
    
}