* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}


#myVideo {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    filter: blur(0px);
    width: auto;
    height: 100%;
    min-width: 50%;
    min-height: 100%;
}

.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#video-container{
    display: relative;
}

.scrolling-text-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 20%;
    left: 0;
    width: 100%;
  }
  
  .scrolling-text {
    white-space: nowrap;
    color: aliceblue;
    font-size: 100px;
    animation: scrolling 10s linear infinite;
    mix-blend-mode: difference;
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.fa-expand {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: orange;
}

.fa-expand:hover {
    cursor: pointer;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}